@{
    ViewData["Title"] = "SelectIndumentaria";
}

<h2>@ViewBag.Error</h2>

<form action='@Url.Action("GuardarIndumentaria")'>
    <table>
        <tr>
            <td>Equipos</td>
            @foreach (var item in ViewBag.ListaEquipos)
            {
                <td>@item</td>
            }
            <td><input type="number" name="equipo" value="1" min="1" max=@ViewBag.ListaEquipos.Count step="1" required/></td>
        </tr>
        <tr>
            <td>Medias</td>
            @foreach (var item in ViewBag.ListaMedias)
            {
                <td><img src="/images/Medias/@item" width="200" height="auto"></td>
            }
            <td><input type="number" name="media" value="1" min="1" max=@ViewBag.ListaMedias.Count step="1" required/></td>
        </tr>
        <tr>
            <td>Pantalones</td>
            @foreach (var item in ViewBag.ListaPantalones)
            {
                <td><img src="/images/Pantalones/@item" width="200" height="auto"></td>
            }
            <td><input type="number" name="pantalon" value="1" min="1" max=@ViewBag.ListaPantalones.Count step="1" required/></td>
        </tr>
        <tr>
            <td>Camisetas</td>
            @foreach (var item in ViewBag.ListaRemeras)
            {
                <td><img src="/images/Remeras/@item" width="200" height="auto"></td>
            }
            <td><input type="number" name="remera" value="1" min="1" max=@ViewBag.ListaRemeras.Count step="1" required/></td>
        </tr>
    </table>
    <input type="submit" value="Enviar"/>
</form>